
/* styles.css */
.p-menubar .p-menuitem-link {
    color: white; /* Cambia el color del texto de los elementos principales */
}

.p-menubar .p-menuitem-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo al pasar el mouse */
    color: white; /* Asegúrate de que el texto siga siendo blanco al pasar el mouse */
}

/* Estilos para los submenús */
.p-menuitem .p-menuitem-link {
    color: white; /* Cambia el color del texto de los submenús */
}

.p-menuitem .p-menuitem-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo al pasar el mouse en submenús */
    color: white; /* Asegúrate de que el texto de los submenús siga siendo blanco al pasar el mouse */
}
